TD{
	text-align: center;
	font-weight: bold;
}
#Horario{
	font-size: 110pt;
	font-family: "Trebuchet MS";
	color: #E00A0A;
}
BUTTON{
	font-weight: bold;
	font-size: 85pt;
	font-family: "Trebuchet MS";
}
